@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald-VariableFont_wght.ttf') format('truetype');
}

@keyframes drawBorder {
  from {
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
  }
  to {
    border-top-width: 0.2vh;
    border-right-width: 0.2vh;
    border-bottom-width: 0.2vh;
    border-left-width: 0.2vh;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  background-color: white;
  color: black;
  font-weight: 300;
}

#title {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 8vw;
  height: 16vh;
  border-bottom: 1vh solid black;
}

#title-text {
  font-weight: 600;
  font-size: 8vw;
}

#subtitle {
  font-weight: 200;
  font-size: 4vw;
}

#intensityGraph {
  position: fixed;
  width: 100%;
  top: 16vh;
  height: 4vh;
  border-bottom: 0.2vh solid black;
}

#logo-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.2vh solid black;
  height: 100%;
}

#logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

#title-text {
  width: 80%;
  text-align: center;
}

#tableContainer {
  top: 20vh;
  height: 14vh;
  position: fixed;
  display: grid;
  grid-template-rows: 4vh 10vh;
  grid-template-columns: auto auto auto;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.3);
}

#tableContainer div {
  font-size: 2vw;
  padding: 1vw;
  width: 10vw;
  border-collapse: collapse;
  border: 0.15vh solid #000;
  text-align: left;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

#tableContainer .tableHead {
  font-size: clamp(13px, 2.2vw, 30px);
  text-align: center;
  font-weight: 400;
}

#tableContainer #modelContent,
#tableContainer #testNameContent {
  padding: 2vw;
  text-align: center;
}

#tableContainer .left-most {
  border-left: none;
}

#tableContainer .right-most {
  border-right: none;
}

#promptContent {
  text-align: left;
}

#tableContainer .largeTableItem {
  width: 80vw;
}

#tableContainer #promptContent {
  font-size: clamp(15px, 1.6vw, 40px);
}

#chat-container {
  position: fixed;
  top: 34vh;
  bottom: 20vh;
  width: 100%;
  overflow-y: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
  box-sizing: border-box;
  font-size: 2.5vh;
  padding-left: 8vw;
  padding-right: 10vw;
}

.question, .answer {
  border: 0.2vh solid black;
  padding: 1vh;
  max-width: 60%;
  margin-bottom: 1vh;
  box-shadow: 0px 4px 8px -2px rgba(0, 0, 0, 0.3);
  animation: drawBorder 0.3s linear;
}

.question {
  margin-left: 0;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.answer {
  margin-left: auto;
  margin-right: 0;
  width: 10%;
  text-align: center;
}

#back-button {
  width: 40%;
  cursor: pointer;
}

#image-display {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  height: 20vh;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  background-color: white;
  border-top: 1vh solid black;
  display: flex;
  align-items: stretch;
}

#image-display img {
  height: 100%;
  width: auto;
  max-width: 50vw;
  filter: grayscale(100%);
  display: block;
  border-right: 0.2vh solid black;
  object-fit: cover;
}

#startContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  border: none;
  cursor: pointer;
  z-index: 5;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#startContainer button {
  color: white;
  background-color: black;
  border: 2px solid white;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  font-family: 'Oswald', sans-serif;
  font-size: 4vh;
  transition: background-color 0.3s, color 0.3s;
}

#startContainer button:hover {
  background-color: white;
  color: black;
}

#startContainer button:focus {
  outline: none;
}

#start-logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#start-logo {
  width: 20vw;
  filter: invert(1);
}

#explanation-text {
  text-align: center;
  color: white;
  margin-bottom: 10px;
  font-size: 2vw;
  padding-right: 20px;
  padding-left: 20px;
}

.separator {
  border: none;
  height: 3px;
  background-color: white;
  margin: 15px 0;
  width: 100%;
}

#selectionHeading {
  color: white;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 20px;
  font-weight: 600;
}

.question-index {
  font-size: 1.8vh;
  margin-left: 1vh;
  margin-bottom: 0.5vh;
  font-weight: 400;
}
